@media(max-width:400px) {

    .flip_the_coin {
        font-size: 40px;
        -webkit-text-stroke-width: 3px;
        line-height: 54px;
    }

    .flip_the_coin_p {
        font-size: 15px;
    }
}